<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Artists</title>
</head>
<body>
  <h1>Artists</h1>
  <% @artists.each do |artist| %>
    <%= link_to artist.name, artist_path(artist)%>
    <%= pluralize(artist.song_count, "song")%>
  <% end %>
</body>
</html>